<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main.mybatis.chapter5Mapper.DAO.EmployeeDAO">
    <resultMap id="employee" type="main.mybatis.chapter5Mapper.pojo.Employee">
        <id column="id" property="id"/>
        <result column="real_Name" property="realName"/>
        <result column="sex" property="sex"/>
        <result column="birthday" property="birthday"/>
        <result column="email" property="email"/>
        <result column="position" property="position"/>
        <result column="note" property="note"/>
        <!--一对一级联-->
        <association property="workCard" column="id" select="main.mybatis.chapter5Mapper.DAO.WorkCardDAO.getWorkCardByEmpId"/>

        <!--一对多级联-->
        <collection property="employeeTaskList" column="id" select="main.mybatis.chapter5Mapper.DAO.EmployeeTaskDAO.getEmployeeTaskByEmpId"/>




    </resultMap>

    <resultMap id="femaleHealthFormMapper" type="main.mybatis.chapter5Mapper.pojo.FemaleEmployee" extends="employee">
        <association property="femaleHealthForm" column="id" select="main.mybatis.chapter5Mapper.DAO.FemaleHealthFormDAO.getFemaleHealthForm"></association>
    </resultMap>

    <resultMap id="maleHealthFormMapper" type="main.mybatis.chapter5Mapper.pojo.MaleEmployee" extends="employee">
        <association property="maleHealthForm" column="id" select="main.mybatis.chapter5Mapper.DAO.FemaleHealthFormDAO.getMaleHealthForm"></association>
    </resultMap>

    <select id="getEmployee" parameterType="Integer" resultMap="employee">
        select e.id,e.real_name as realName,e.sex,e.birthday,e.mobile,e.email,e.position,e.note from t_employee e where e.id = #{id}
    </select>

</mapper>